In [1]:
# test merge lots of parquet files 
import pyarrow.parquet as pq
import glob
import time
# Record the start time
start_time = time.time()
files = glob.glob('/gpfs/data1/vclgp/xiongl/IS2global/result/X10_Y0/*.parquet')
print('Number of files:',len(files))
schema = pq.ParquetFile(files[0]).schema_arrow
with pq.ParquetWriter("/gpfs/data1/vclgp/xiongl/IS2global/result/X10_Y0.parquet", schema=schema) as writer:
    for file in files:
        writer.write_table(pq.read_table(file, schema=schema))
# Record the end time
end_time = time.time()
# Calculate the running time
running_time = end_time - start_time
print(f"Running time: {running_time} seconds")

Number of files: 131
Running time: 83.87625551223755 seconds

In [3]:
import os

# Specify the path to the directory you want to list
directory_path = '/gpfs/data1/vclgp/xiongl/IS2global/result'
# Get a list of folders in the specified directory
folders = [folder for folder in os.listdir(directory_path) if os.path.isdir(os.path.join(directory_path, folder))]

In [21]:
import pandas as pd
df = pd.read_parquet('/gpfs/data1/vclgp/xiongl/IS2global/test_data/832083fffffffff.parquet')

In [22]:
df

,land_segments/canopy/h_canopy_20m,land_segments/latitude,land_segments/longitude,land_segments/latitude_20m,land_segments/longitude_20m,orbit_info/sc_orient,root_beam,geometry
h3_12_20m,,,,,,,,
8c208349a4b0dff,10.443848,36.555836,72.058144,36.556194,72.058189,0,gt2l,b'\x01\x01\x00\x00\x00\x00\x00\x00`\xb9\x03R@\...
8c208349a4a6dff,4.622070,36.556736,72.058250,36.557095,72.058296,0,gt2l,b'\x01\x01\x00\x00\x00\x00\x00\x00 \xbb\x03R@\...
8c208349a59e3ff,9.002441,36.557289,72.057053,36.556931,72.057098,1,gt2r,b'\x01\x01\x00\x00\x00\x00\x00\x00\x80\xa7\x03...
8c208349a5835ff,9.630371,36.558189,72.056946,36.557831,72.056992,1,gt2r,b'\x01\x01\x00\x00\x00\x00\x00\x00\xc0\xa5\x03...
8c208349a4325ff,8.629395,36.558533,72.058464,36.558891,72.058502,0,gt2l,b'\x01\x01\x00\x00\x00\x00\x00\x00\x80\xbe\x03...
...,...,...,...,...,...,...,...,...
8c2083b6d8719ff,12.506348,37.865383,72.496117,37.865742,72.496063,1,gt1r,b'\x01\x01\x00\x00\x00\x00\x00\x00\x80\xbf\x1f...
8c2083b6d8647ff,24.415527,37.866283,72.495987,37.866638,72.495934,1,gt1r,b'\x01\x01\x00\x00\x00\x00\x00\x00`\xbd\x1fR@\...
8c2083b6d8609ff,21.983398,37.866985,72.496078,37.866627,72.496040,1,gt3r,b'\x01\x01\x00\x00\x00\x00\x00\x00 \xbf\x1fR@\...
8c2083b6db527ff,20.351074,37.867065,72.504524,37.866707,72.504478,0,gt1l,b'\x01\x01\x00\x00\x00\x00\x00\x00`I R@\x00\x0...
8c2083b6db51dff,18.862793,37.867962,72.504646,37.867603,72.504601,0,gt1l,b'\x01\x01\x00\x00\x00\x00\x00\x00`K R@\x00\x0...

In [118]:
#!/usr/bin/env python
# coding: utf-8
from pyproj import Transformer
import geopandas as gpd
from shapely.geometry import Polygon
import math
import geopandas as gpd
import matplotlib.pyplot as plt
from shapely.geometry import Polygon
import shutil
import geopandas as gpd
import matplotlib.pyplot as plt
import os
import glob

# S60 to N80
def get_tiles_x_y0(grid_x = 1, grid_y = 1):
        tilesize_x = 2481
        tilesize_y = 1805# 2438  #2438  # 
        # 17367703.09
        ease2_origin = -17367000, 7314000
        # 14, 6
        ease2_nbins = int(34734 / tilesize_x ), int(14628 / tilesize_y )
        #print(ease2_nbins)
        ease2_binsize = 1000*tilesize_x, 1000*tilesize_y
        x_up_left = ease2_origin[0] + (grid_x - 1)*ease2_binsize[0]
        y_up_left = ease2_origin[1] - (grid_y - 1)*ease2_binsize[1]
        xmin = x_up_left
        xmax = x_up_left + ease2_binsize[0]
        ymin = y_up_left - ease2_binsize[1]
        ymax = y_up_left
        return xmin, xmax, ymin, ymax

def get_tiles_x_y(grid_x = 1, grid_y = 1):
        tilesize_x = 2481
        tilesize_y = 2438  # how many 1km cells in each tile.
        # 17367703.09
        ease2_origin = -17367000, 7314000
        # 14, 6
        ease2_nbins = int(34734 / tilesize_x ), int(7220 / tilesize_y )
        #print(ease2_nbins)
        ease2_binsize = 1000*tilesize_x, 1000*tilesize_y
        x_up_left = ease2_origin[0] + (grid_x - 1)*ease2_binsize[0]
        y_up_left = ease2_origin[1] - (grid_y - 1)*ease2_binsize[1]
        xmin = x_up_left
        xmax = x_up_left + ease2_binsize[0]
        ymin = y_up_left - ease2_binsize[1]
        ymax = y_up_left
        if grid_y == 0: 
            ymin=6476000 # N62.
            ymax=7229000 # N80
        if grid_y == 1: ymax=6476000 # N62.
        if grid_y == 6: ymin=6149000 # S57.
        return xmin, xmax, ymin, ymax
for grid_x in range(1,15):
    for grid_y in range(0,7):
       if grid_x == 11: 
            print(grid_x,grid_y)
            xmin, xmax, ymin, ymax = get_tiles_x_y(grid_x, grid_y)
            print(xmin, xmax, ymin, ymax)
            transformer = Transformer.from_crs('epsg:6933', 'epsg:4326', always_xy=True)
            lon_min, lat_min = transformer.transform(xmin,ymin)    
            lon_max, lat_max = transformer.transform(xmax,ymax)
            print(lon_min, lon_max,lat_min, lat_max)

11 0
7443000 9924000 6476000 7229000
77.14050101885695 102.85400135847594 61.99359790867059 79.96864299023107
11 1
7443000 9924000 4876000 6476000
77.14050101885695 102.85400135847594 41.741017747983555 61.99359790867059
11 2
7443000 9924000 2438000 4876000
77.14050101885695 102.85400135847594 19.47388263991424 41.741017747983555
11 3
7443000 9924000 0 2438000
77.14050101885695 102.85400135847594 0.0 19.47388263991424
11 4
7443000 9924000 -2438000 0
77.14050101885695 102.85400135847594 -19.47388263991424 0.0
11 5
7443000 9924000 -4876000 -2438000
77.14050101885695 102.85400135847594 -41.741017747983555 -19.47388263991424
11 6
7443000 9924000 6149000 -4876000
77.14050101885695 102.85400135847594 56.99268775942268 -41.741017747983555

In [117]:
transformer = Transformer.from_crs('epsg:4326', 'epsg:6933', always_xy=True)
transformer.transform(10, 80) ,   transformer.transform(10, 62)

((964862.802508965, 7229704.847593097), (964862.802508965, 6476387.50841362))

In [59]:
# lat N80 -----  7229704      N79  --- 7206152
# lat S57 ----- -6149512

609.0

In [113]:
(6476 - 4876)/ 2438

0.6562756357670222

In [100]:
def get_factors(num):
    for i in range(2, num):
        if num % i == 0: print(i, num/i)
get_factors(1805)

5 361.0
19 95.0
95 19.0
361 5.0

In [7]:
import pandas as pd

# Replace 'your_file.csv' with the actual path to your CSV file
file_path = '/gpfs/data1/vclgp/xiongl/IS2global/result/X10_Y1.csv'

# Read the CSV file into a DataFrame
df = pd.read_csv(file_path)

# Now 'df' contains the data from the CSV file
df.head()

              X             Y     rh_098
0  5.080787e+06  5.184181e+06  46.031760
1  5.080775e+06  5.184262e+06  47.318160
2  5.080763e+06  5.184343e+06  14.874922
3  5.080750e+06  5.184425e+06  44.911682
4  5.080739e+06  5.184506e+06  36.575623

In [8]:
df[570240:570260]

                   X             Y    rh_098
570240  6.199159e+06  5.861515e+06  4.027695
570241  6.199427e+06  5.861466e+06  2.614059
570242  6.197946e+06  5.861369e+06  2.683578
570243  6.197927e+06  5.861495e+06  4.651642
570244  6.199069e+06  5.861567e+06  6.763016
570245  6.199144e+06  5.861584e+06  4.191177
570246           NaN           NaN       NaN
570247           NaN           NaN       NaN
570248           NaN           NaN       NaN
570249           NaN           NaN       NaN
570250           NaN           NaN       NaN
570251           NaN           NaN       NaN
570252           NaN           NaN       NaN
570253           NaN           NaN       NaN
570254           NaN           NaN       NaN
570255           NaN           NaN       NaN
570256           NaN           NaN       NaN
570257           NaN           NaN       NaN
570258           NaN           NaN       NaN
570259           NaN           NaN       NaN

In [10]:
df_d = df.dropna(subset=['X', 'Y'])

In [11]:
df_d[570240:570260]

                    X             Y     rh_098
570240   6.199159e+06  5.861515e+06   4.027695
570241   6.199427e+06  5.861466e+06   2.614059
570242   6.197946e+06  5.861369e+06   2.683578
570243   6.197927e+06  5.861495e+06   4.651642
570244   6.199069e+06  5.861567e+06   6.763016
570245   6.199144e+06  5.861584e+06   4.191177
1105180  7.101216e+06  5.370550e+06  21.214050
1105181  7.101240e+06  5.370707e+06  25.014221
1105182  7.101252e+06  5.370785e+06  23.311646
1105183  7.101264e+06  5.370863e+06  29.319458
1105184  7.102003e+06  5.370947e+06   1.183411
1105185  7.101275e+06  5.370910e+06   1.680420
1105186  7.101277e+06  5.370942e+06  28.876526
1105187  7.101288e+06  5.371020e+06  29.857850
1105188  7.101300e+06  5.371099e+06  17.782776
1105189  7.101313e+06  5.371177e+06  26.576233
1105190  7.101325e+06  5.371256e+06  19.672974
1105191  7.101361e+06  5.371491e+06   3.748047
1105192  7.101373e+06  5.371569e+06  10.609955
1105193  7.101385e+06  5.371648e+06   6.719788

In [12]:
17367000*2/(6149000+7229000)

2.5963522200627898

In [14]:
#  Letter (8.5 × 11 inches)
5*2.6

13.0